@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.main {
  width: 100vw;
  height: 100vh;
  background: rgb(127, 127, 127);
  display: flex;
  align-items: center;
  justify-content: center;
}
.subComponent {
  background: white;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5em 2em 0.5em 2em;
}
.signupHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupHeader h1 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.2em;
}
.signupHeader p {
  color: rgb(115, 121, 134);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
.signupForm {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  line-height: 2;
}

.signupForm label {
  font-weight: bold;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.signupForm input {
  border: 1px solid rgb(147, 151, 157);
  padding: 0.7em;
  font-size: 1em;
  color: rgb(115, 121, 134);
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
}

.signupForm ::placeholder {
  color: rgb(115, 121, 134);
}

.deleteBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5em 0 1em 0;
}
.signupForm button {
  margin-top: 0.5em;
  background: rgb(24, 24, 27);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  padding: 0.5em 1.3em 0.5em 1.3em;
  font-family: "Open Sans", sans-serif;
}
.signupFooter {
  font-family: "Open Sans", sans-serif;
  margin: 1em 0 1em 0;
  text-align: center;
}
/* .submitBtn {
  margin-bottom: 1em;
} */
